<<<<<<< HEAD
*{
    /* outline: 1px #0d5afa; */
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 5px;
}

ul: after {
    content: "";
    display: table;
    clear: both;
}

section {
   margin-top: 1rem;
}

section:after 
h2{
    margin: 60px; 
}

p{
    padding 30px;
}
=======
>>>>>>> 150ca3d2dc4b7161ad5f8dc942bf053d77d02ab1

