 /* * {
    /* outline: 1px #0d5afa; 
 }*/


body {
    background-color: #1089FA;

} 

h1 {
    border-bottom: 10px #1089FA solid;
    color: white;]
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 5px;
    outline: 2px black solid;
    padding: 10px;
}

ul: after {
    content: "";
    display: table;
    clear: both;
}

section {
   margin-top: 1rem;
   outline: 2px black solid;
   padding: 20px;
}

h2{
    border-bottom: 10px #1089FA solid;
    color: white;
    margin: 60px; 
}

p{
    padding 30px;
}

img {
    opacity: 1.5;
}